body{
    background-color:  hsl(217, 54%, 11%)
}

.conteudo{

    background-color:  hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;top:50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 300px;
    border-radius: 10px;
}
.imagem-principal{
    width: 300px;
    border-radius: 30px;
    padding: 20px;
    margin-top: -25px;
}
.caixa-texto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    padding: 0 15px;

}
.titulo{
    font-size: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.subtitulo{
    font-size: 15px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: hsl(218, 25%, 60%)
}
.informacoes{
    padding: 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 85px;
    font-size: 8px;
}
.valor{
   
    color: hsl(178, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.timer{
    font-size: 13px;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: hsl(218, 25%, 60%)
}
.autor{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 gap: 5px;
 padding: 0 25px;
 margin-top: 20px;
}
.imagem-autor{
    border-radius: 50%;
    width: 30px;
    border: 2px solid #fff;
    overflow: hidden;
    
}
.criador{
    font-size: 13px;
    padding: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff56;
}
span{
    color: #fff;
}
hr{
    width: 90%;
    opacity: 0.1;
}